# Creado por https://www.toptal.com/developers/gitignore/api/visualstudiocode,windows,macos,linux
# Editar en https://www.toptal.com/developers/gitignore?templates=visualstudiocode,windows,macos,linux

### Linux ###
*~

# archivos temporales que se pueden crear si un proceso aún tiene abierto el identificador de un archivo eliminado
.fuse_hidden*

# Preferencias del directorio de KDE
.directorio

# Carpeta de basura de Linux que puede aparecer en cualquier partición o disco
.Basura-*

Los archivos .nfs se crean cuando se elimina un archivo abierto pero aún se accede a él
.nfs*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# El icono debe terminar con dos \r
Icono


# Miniaturas
._*

# Archivos que pueden aparecer en la raíz de un volumen
.Revisiones de documentos-V100
.fseventsd
.Spotlight-V100
.Elementos temporales
.Basuras
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directorios potencialmente creados en un recurso compartido AFP remoto
.AppleDB
.AppleEscritorio
Carpeta de basura de red
Artículos temporales
.apdisk

### Parche para macOS ###
# Archivos generados por iCloud
*.icloud

### Código de VisualStudio ###
.vscode/*
!.vscode/configuraciones.json
!.vscode/tareas.json
!.vscode/launch.json
!.vscode/extensiones.json
!.vscode/*.fragmentos-de-código

# Historial local para Visual Studio Code
.historia/

# Extensiones de Visual Studio Code creadas
*.vsix

### Parche de VisualStudioCode ###
# Ignorar todo el historial local de archivos
.historia
.ionuro

### Ventanas ###
# Archivos de caché de miniaturas de Windows
Thumbs.db
Thumbs.db:cifrable
ehthumbs.db
ehthumbs_vista.db

# Archivo de volcado
*.stackdump

# Archivo de configuración de carpeta
[Dd]esktop.ini

# Papelera de reciclaje utilizada en recursos compartidos de archivos
$RECICLAJE.PAPELERA/

# Archivos del instalador de Windows
*.taxi
*.msi
*.msix
*.msm
*.msp

# Atajos de Windows
*.lnk

# Fin de https://www.toptal.com/developers/gitignore/api/visualstudiocode,windows,macos,linux